@use 'core/reset';

.header {
    background-color: black;
    height: 15vh;
    text-align: center;
    padding: 30px;

    &_logo {
        height: 100%;
    }
}


.main {
    background-color: black;
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    min-height: 85vh;

}

.resultsMessage {
    color: white;
}

.characterList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.characterCard {
    width: 200px;
    background-color: rgb(32, 180, 218);

    &_img {
        width: 100%;
    }

    &_text {
        color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    &_text h3 {
        text-align: center;
    }
}



.characterDetail {
    width: 500px;
    height: 300px;
    background-color: rgb(32, 180, 218);
    display: flex;
    padding: 30px;

    &_img {
        height: 100%;
    }

    &_text {
        color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        &_category {
            font-weight: bold;
        }
    }

    &_text h3 {
        font-size: 22px;
    }
}

.linkBack {
    width: 80px;

    &:hover {
        transform: scale(1.1);
    }
}

.linkBack img {
    width: 100%;
}

.characterDetailMessage {
    color: white;
}

.form {
    display: flex;
    gap: 30px;

    &_nameInput {
        border: 2px solid rgb(32, 180, 218);
        background-color: black;
        width: 350px;
        padding: 5px;
        color: white;
    }

    &_speciesSelect {
        border: 2px solid rgb(32, 180, 218);
        background-color: black;
        width: 350px;
        padding: 5px;
        color: white;

    }


}